:root {
    --primary-bg-color: rgb(167, 190, 238);
}

body {
    font-family: Helvetica, Arial, sans-serif;
    /* Tahoma, Verdana, sans-serif; */
}

h1 {
    font-size: 30px;
    line-height: 1.2;
    
}

h2 {
    font-size: 25px;
    font-weight: lighter;
    line-height: 1.3;
}

h3 {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.3;
}

p {
    text-align: justify;
    line-height: 1.2;
}

button {
    background-color: var(--primary-bg-color);
    padding: 6px;
    border-radius: 12px;
    border-width: 1px;
}