:root {
    --primary-color: rgb(167, 190, 238);
    --secondary-color: #516a9f;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    /* Tahoma, Verdana, sans-serif; */
    margin: 0px
}

header {
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;          
    list-style-type: none;   
    /* gap: 5px;  */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
}

nav ul li {
  float: left;
}

nav ul li a:link, nav ul li a:visited{
  display: block;
  color: black;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: var(--secondary-color);
}


h1 {
    font-size: 30px;
    line-height: 1.2;
    
}

h2 {
    font-size: 25px;
    font-weight: lighter;
    line-height: 1.3;
}

h3 {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.3;
}

section {
    text-align: justify;
    line-height: 1.2;
    margin-left: 10px;
    margin-right: 30px;
}

/* li {
    margin-right: 30px;
} */

a:link {
    text-decoration: none;
    color: var(--text-color)
}

a:visited {
    color: rgb(20, 60, 145);
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--primary-color);
    padding: 6px;
    border-radius: 12px;
    border-width: 1px;
}

#stay-updated, #learn-more{
    color: var(--secondary-color);
    font-weight: bold;
}