:root {
    --primary-color: #4a90e2;
    --secondary-color: #2c3e50;
    --sidebar-width: 280px
}

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    position: sticky;
    top: 0;
}

.header-nav ul {
    display: flex;          
    list-style-type: none;   
    /* gap: 5px;  */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
}

.header-nav ul li a:link, .header-nav ul li a:visited{
  display: block;
  color: black;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}

.header-nav ul li a:hover {
  background-color: var(--secondary-color);
}

.blog-container {
  display: grid;
  grid-template-columns: 250px 1fr; 
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.sidebar {
  position: sticky;
  top: 20px;
  align-self: start;
}


h1 {
    font-size: 30px;
    line-height: 1.2;
    
}

h2 {
    font-size: 25px;
    font-weight: lighter;
}

h3 {
    font-size: 20px;
    font-weight: lighter;
}

section, footer {
    text-align: justify;
    margin-left: 10px;
    margin-right: 30px;
}

/* li {
    margin-right: 30px;
} */

a:link {
    text-decoration: none;
    color: var(--text-color)
}

a:visited {
    color: rgb(20, 60, 145);
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--primary-color);
    padding: 6px;
    border-radius: 12px;
    border-width: 1px;
}

button:hover {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5)
}

button:active {
    background-color: var(--secondary-color);
}

#stay-updated, #learn-more{
    color: var(--secondary-color);
    font-weight: bold;
}