body {
    font-family: Helvetica, Arial, sans-serif;
    /* Tahoma, Verdana, sans-serif; */
}
h1 {
    font-size: 30px;
    line-height: 1.2;
    
}
h2 {
    font-size: 25px;
    font-weight: lighter;
    line-height: 1.3;
}
h3 {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.3;
}