:root {
    --primary-color: #4a90e2;
    --secondary-color: #2c3e50;
    --sidebar-width: 250px
}

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

header {
    background-color: #e2e2e2;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    position: sticky;
    top: 0;
    z-index: 1;
}

.brand {
  display: flex;          
  align-items: center;         
  padding-right: 50px;   
  padding-left: 20px;     
  font-weight: bold;     
  font-size: 1.2em;     
  color: var(--secondary-color);
  cursor: default;   
}

.header-nav ul {
    display: flex;          
    list-style-type: none;   
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    align-items: center;
}

.header-nav ul li a:link, .header-nav ul li a:visited{
    display: block;
    color: var(--secondary-color);
    text-align: center;
    padding: 20px 15px;
    font-weight: 600;
    text-decoration: none;
}

.header-nav ul li a:hover {
    color: var(--primary-color);
    background-color: transparent;
}

.blog-container {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 40px 0 40px 20px;
    padding: 0 20px;
}

.sidebar {
    position: sticky;
    top: 100px; 
    height: fit-content;
    padding-right: 20px;
    z-index: 0;
}

.sidebar h3 {
    margin-top: 0;
    letter-spacing: 1px;
    color: #807d7d;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: var(--secondary-color);
    display: block;
    padding: 5px 0 5px 10px;
    border-left: 3px solid transparent;
}

.sidebar a:hover {
    border-left-color: var(--primary-color);
    color: var(--primary-color);
}

h1 {
   font-size: 30px;
   line-height: 1.2;    
}

h2 {
    font-size: 25px;
    font-weight: lighter;
}

h3 {
    font-size: 20px;
    font-weight: lighter;
}

section, footer {
    text-align: justify;
    margin-left: 10px;
    margin-right: 30px;
}

/* li {
    margin-right: 30px;
} */

a:link {
    text-decoration: none;
    color: var(--text-color)
}

a:visited {
    color: rgb(20, 60, 145);
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--primary-color);
    padding: 6px;
    border-radius: 12px;
    border-width: 1px;
}

button:hover {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5)
}

button:active {
    background-color: var(--secondary-color);
}

.image {
  max-width: 100%; 
  height: auto;   
  display: block;  
  box-shadow: 5px 5px 5px #add8e6;
  border-radius: 3px;
  margin: auto
}

#stay-updated, #learn-more {
    color: var(--secondary-color);
    font-weight: bold;
}